.messenger{
    height:calc(100vh - 155px);
    display: flex;
}

.chatMenu{
    flex:3.5;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
}

.chatBox{
    flex:5.5;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 70px;
    padding: 10px;
}

.chatOnline{
    flex:3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.noConversationText{
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(236, 235, 235);
    text-align: center;
    cursor: default;
}

.crossIconContainer{
    display: none;
}
.leftbarContainer{
    display: none;
}

@media only screen and (max-width: 800px){
    .messenger{
        position: relative;
    }
    .chatMenu{
        position: absolute;
        width: 75%;
        top: -150px;
        left: 0;
        z-index: 200;
        background-color: rgb(234, 234, 234);
        padding-top: 20px;
        padding-left: 20px;
        transition: 0.5s ease;
        height: 100vh;
        overflow: auto;
    }
    .chatMenu.inactive{
        left: -1000px;
        display: none;
    }
    .chatOnline{
        display: none;
    }
    .chatMenuInput{
        display: none;
    }
    .crossIconContainer{
        display: block;
        position: relative;
    }
    .closeMessengerBar{
        font-size: 20px;
        position: absolute;
        top: -15px;
        right: 0;
    }
    .closeRightBar:hover{
        cursor: pointer;
        color: red;
    }
    .leftbarContainer{
        display: block;
        flex: 1;
    }
}