# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN

PassengerAppRoot "/home4/buddhaco/dreamcloset-api.buddhacourier.com.np"
PassengerBaseURI "/"
PassengerNodejs "/home4/buddhaco/nodevenv/dreamcloset-api.buddhacourier.com.np/14/bin/node"
PassengerAppType node
PassengerStartupFile index.js

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN

<IfModule Litespeed>
SetEnv DATABASE_URL mongodb+srv://dreamcloset:dreamcloset123@dreamcloset.nsgahau.mongodb.net/?retryWrites=true&w=majority
SetEnv JWT_SECRET dreamcloset
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
