.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.rightContainer{
    flex: 3.5;
}
.crossIconContainer{
    display: none;
}
.openRightBar{
    display: none;
}

@media only screen and (max-width: 800px){
    .profile{
        position: relative;
    }
    .rightContainer{
        position: absolute;
        max-width: 75%;
        top: -120px;
        right: 0;
        z-index: 200;
        background-color: rgb(234, 234, 234);
        padding-top: 20px;
        padding-left: 20px;
        transition: 0.5s ease;
        height: 100vh;
        overflow: auto;
    }
    .rightContainer.inactive{
        right: -1000px;
    }
    .crossIconContainer{
        display: block;
        position: relative;
    }
    .closeRightBar{
        position: absolute;
    }
    .openRightBar{
        display: block;
        position: absolute;
        right: 10px;
        top: -30px;
        font-size: 20px;
        padding: 5px 7px;
        background-color: var(--main-color);
        color: white;
        border-radius: 50%;
    }
    .openRightBar:hover{
        cursor: pointer;
        background-color: navy;
    }
    .closeRightBar{
        font-size: 20px;
        position: absolute;
        top: -10px;
    }
    .closeRightBar:hover{
        cursor: pointer;
        color: red;
    }
}