.leftbar{
    flex: 3;
    height: calc(100vh-155px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(139, 138, 138);
    border-radius: 10px;
}

.leftbarWrapper{
    padding: 20px;
}

.leftbarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftbarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
}

.leftbarListItem.active{
    color: var(--main-color);
}

.leftbarIcon{
    margin-right: 15px;
}

.leftbarButton{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}

.leftbarHr{
    margin: 20px 0;
}

.leftbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.hide{
    display: none;
}

.upDownIcon{
    display: none;
}

@media only screen and (max-width: 800px) {
    .leftbar{
        flex: 1;
    }
    .leftbarIcon{
        font-size: 20px;
        margin: 0;
    }
    .leftbarListItemText{
        display: none;
    }
    .leftbarButton.mobile{
        display: none;
    }
    .leftbarWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .upDownIcon{
        display: block;
    }
  }