.navbar{
    margin: 0;
    padding: 0;
    position: sticky;
    z-index: 99;
    top: 0;
}
.navbarContainer{
    height: 75px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.navbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbarCenter{
    flex: 5;
    cursor: pointer;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon{
    font-size: 18px !important;
    margin-left: 15px;
}

.searchInput{
    border: none;
    width: 75%;
    margin-left: 10px;
}

.searchInput:focus{
    outline: none;
}

.searchButton{
    border-radius: 30px;
    color: white;
    background-color: skyblue;
    border: none;
    padding: 3px 10px;
    position: absolute;
    right: 0;
}

.searchButton:hover{
    background-color: navy;
}

.navbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.navbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.navbarIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarIconItem{
    margin-right: 30px;
    cursor: pointer;
    position: relative;
}

.navbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.navbarImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.socialapplogoNavbar{
    height: 120px;
    margin-left: 20px;
    cursor: pointer;
}

.navbarIcon{
    font-size: 25px;
}

.navbarCenterMobile{
    display: none;
}

@media only screen and (max-width: 800px) {
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbarCenter{
        display: none;
    }

    .navbarCenterMobile{
        display: block;
        margin-top: 15px;
    }
    .searchbar, .searchInput{
        background-color: rgb(240, 240, 240);
        padding: 5px;
    }
}